
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Join The Community</div>
      <div class="panel-body">
        <h1>Change Profile Picture!</h1><br>
        <%= form_for edit_user_path(current_user.id), :html => { :multipart => true } do |form| %>
          <%= form.file_field :avatar %>
          <%= form.submit "upload" %>
        <% end %>
      </div>
    </div>
  </div>
